<?xml version="1.0" encoding="UTF-8"?>
<server>
	<param type="int" key="port">10006</param>
	<param type="boolean" key="debug">false</param>
	<param type="boolean" key="gm">true</param>
	<param type="boolean" key="artificial">false</param>
	<param type="boolean" key="matchai">true</param>
	<param type="boolean" key="dispatch">false</param>
	<param type="boolean" key="racedebug">false</param>
	<!-- 平台接口调试 -->
	<param type="boolean" key="platform">false</param>
	<param type="string" key="project">public_majiang</param>
</server>